@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  // outline: 1px solid red;
}

nav {
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;

    p {
      display: flex;
      align-items: center;
      margin-left:  200px;
      font-size: 1.2em;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1em;
      margin-right:  200px;
      background: #007bff;
      color: white;
      height: 38px ;
      width: 70px;
      border: none;
      padding: 10px;
      border-radius: 4px;

    }
}

header {
  width: 100%;
  height: 600px;
  background: url(../images/bg-masthead.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    &:after {
      z-index: 1;
      background: rgba(128, 128, 128, 0.87);
      background-size: cover;
    }

    h1 {
      width: 55%;
      text-align: center;
      font-size: 3em;
    }

    #email {
      width: 470px;
      height: 47px;
      border: none;
      border-radius: 5px;
      padding: 15px;
      margin-top: 40px;
      font-size: 1.2em ;
    }

    button {
      background: #007bff ;
      color: white;
      border: none;
      width: 150px;
      height: 47px;
      border-radius: 5px;
      margin: 6px;
      font-size: 1.25em ;
    }
    
}

.aft-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px 0;
    background: #f8f9fa;

    .icon {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p{
        margin: 20px;
        width: 82%;
        text-align: center;
        color: gray;
        font-size: 1.2em;
        font-weight: 200;
        line-height: 30px;
      }
    }

  svg {
    margin: 20px;
    width: 65px;
    height: 65px;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  align-items: center;
  

  .square {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;

    h2 {
      display: grid;
      justify-content: start;
      text-align: left;
      font-size: 1.9em;
    }

    p {
      width: 510px;
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: left;
      margin-top: 10px;
      color: gray;
      font-size: 1.2em;
      font-weight: 200;
      line-height: 30px;
    }
  }
  



  img {
    width: 100%;
  }
}

.aft-main {
  background: #f8f9fa;

  .coments {
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  padding: 50px 0 100px 0;
  
  }

  .com {
    text-align: center;
    padding: 200px 0 0 0 ; 
    font-size: 2em;
  }

  .icon {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 1.2em;
    }

    p{
      margin: 20px;
      width: 82%;
      text-align: center;
      font-size: 1em;
      font-weight: 200;
      line-height: 25px;
      color: rgb(45, 45, 45);
    }
  }

  img{
  margin: 20px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  box-shadow: 0 4px 6px;
  }
}